% rebase('country/views/base')
% country.generate_detail_view()

{% block style %}
    {{! country.generated_style }}
{% endblock %}

{% block script %}
    {{! country.generated_script }}
{% endblock %}

{% block content %}
    <h4>Showing {{ country.quick_preview() }}</h4>
   {{! country.generated_html }}
   <div>
        <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ country.id }}">
            <i class="glyphicon glyphicon-pencil"></i> Edit country
        </a>
        <a href="{{ url_list['list'] }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i> Back to List
        </a>
    </div>
{% endblock %}