body{
    background-color: #FEFEEE;
}
h1{
    background-color: #BBBBBB;
    padding:10px;
}
h2{
    padding-left:10px;
}
footer{
    background-color: #BBBBBB;
    padding:10px;
}
p#content{
    padding: 20px;
}
p#links{
    padding-left: 10px;
}
p#links a{
    padding-left: 10px;
}
