% rebase('cms/views/base')
% widget.generate_detail_view()

{% block style %}
    {{! widget.generated_style }}
{% endblock %}

{% block script %}
    {{! widget.generated_script }}
{% endblock %}

{% block content %}
    <h4>Showing {{ widget.quick_preview() }}</h4>
   {{! widget.generated_html }}
   <div>
        <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ widget.id }}">
            <i class="glyphicon glyphicon-pencil"></i> Edit widget
        </a>
        <a href="{{ url_list['list'] }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i> Back to List
        </a>
    </div>
{% endblock %}