% rebase('cms/views/base')
% cms.generate_detail_view()

{% block style %}
    {{! cms.generated_style }}
{% endblock %}

{% block script %}
    {{! cms.generated_script }}
{% endblock %}

{% block content %}
    <h4>Showing {{ cms.quick_preview() }}</h4>
   {{! cms.generated_html }}
   <div>
        <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ cms.id }}">
            <i class="glyphicon glyphicon-pencil"></i> Edit cms
        </a>
        <a href="{{ url_list['list'] }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i> Back to List
        </a>
    </div>
{% endblock %}