% rebase('g_application_name/views/base')
% g_table_name.generate_detail_view()

{% block style %}
    {{! g_table_name.generated_style }}
{% endblock %}

{% block script %}
    {{! g_table_name.generated_script }}
    <script type="text/javascript" src="{{ BASE_URL }}assets/jquery.form.min.js"></script>
    <script type="text/javascript">
        $('#__main_form').ajaxForm({
            dataType: 'json',
            success : function(response) {
                    // change token
                    $('#__token').val(response.__token);
                    // get response's properties
                    var success = response.success;
                    var error_message = response.error_message;
                    // determine message
                    var message_html = '';
                    if(success){
                        message_html += '<b>Success</b> ' + error_message;
                        $('#__message_div').addClass('alert alert-success');
                        // also change button
                        var button_html = '<a class="btn btn-default" href="{{ url_list["new"] }}"> ' +
                                '<i class="glyphicon glyphicon-plus"></i> Insert another {{ caption }} ' +
                            '</a> ' +
                            '<a href="{{ url_list['list'] }}" class="btn btn-default"> ' +
                                '<i class="glyphicon glyphicon-th"></i> Back to List ' +
                            '</a>';
                        $('#__button_div').html(button_html);
                    }else{
                        message_html += '<b>Error</b> ' + error_message;
                        $('#__message_div').addClass('alert alert-danger');
                    }
                    $('#__message_div').html(message_html);
                }
        });
    </script>
{% endblock %}

{% block content %}
    <h4>Are you sure to delete {{ g_table_name.quick_preview() }}?</h4>
    <div class="alert alert-danger">
        <b>Warning</b> This action is unrecoverable
    </div>
    {{! g_table_name.generated_html }}
    <div class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <form id="__main_form" action="{{ url_list['destroy'] }}/{{ g_table_name.id }}" method="post">
            <input type="hidden" name="__token" value="{{ __token }}" />
            <div id="__message_div">
                <!-- AJAX message going to be here -->
            </div>
            <div id="__button_div">
                <button type="submit" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove-sign"></i> Delete
                </button>
                <a href="{{ url_list['list'] }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-th"></i> Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock %}