% rebase('g_application_name/views/base')
% g_table_name.generate_detail_view()

{% block style %}
    {{! g_table_name.generated_style }}
{% endblock %}

{% block script %}
    {{! g_table_name.generated_script }}
{% endblock %}

{% block content %}
    <h4>Are you sure to delete {{ g_table_name.quick_preview() }}?</h4>
    <div class="alert alert-danger">
        <b>Warning</b> This action is unrecoverable
    </div>
    {{! g_table_name.generated_html }}
    <div>
        <form action="{{ url_list['destroy'] }}/{{ g_table_name.id }}" method="post">
            <input type="hidden" name="__token" value="{{ __token }}" />
            <button type="submit" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove-sign"></i> Delete
            </button>
            <a href="{{ url_list['list'] }}" class="btn btn-default">
                <i class="glyphicon glyphicon-th"></i> Cancel
            </a>
        </form>
    </div>
{% endblock %}