% rebase('g_application_name/views/base') if base_view is None else rebase(base_view)
{% block content %}
    % if G_Table_Name.allow_trash and only_trashed:
        <h2>{{ caption }} Trash</h2>
    % else:
        <h2>{{ caption }} List</h2>
    % end
    <div class="{{ 'container' if len(g_table_name_list) == 0 else ''}}">
        % if len(g_table_name_list) > 0:
            <ul class="pull-left pagination">
            % for i in range(page_count):
                % page = str(i+1)
                <li class="{{ 'active' if str(current_page) == page else ''}}">
                    <a href="{{ url_list['list'] + '?page=' + page + ('&' + serialized_get if serialized_get != '' else '') }}">{{ page }}</a>
                </li>
            % end
            </ul>
        % end
        <div class="pull-right pagination">
            <form action="{{ url_list['list']}}" method="get" class="form-inline">
                {{! search_input }}
                <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
                % if G_Table_Name.allow_trash:
                    % new_serialized_get = serialized_get.replace('trash=1','')
                    % if not only_trashed:
                        <a class="btn btn-default" href="{{ url_list['list'] + '?trash=1' + ('&' + new_serialized_get if new_serialized_get != '' else '') }}">
                            <i class="glyphicon glyphicon-trash"></i> Show Trash
                        </a>
                    % else:
                        <a class="btn btn-default" href="{{ url_list['list'] + ('?' + new_serialized_get if new_serialized_get != '' else '') }}">
                            Back
                        </a>
                    % end
                % end
                % if G_Table_Name.allow_new and not (G_Table_Name.allow_trash and only_trashed):
                    <a class="btn btn-default" href="{{ url_list["new"] }}">
                        <i class="glyphicon glyphicon-plus"></i> New {{ caption }}
                    </a>
                % end
            </form>
        </div>
    </div>
    % if len(g_table_name_list) > 0:
        <table class="table table-striped">
            <thead>
                <th>Data</th>
                <th>Action</th>
            </thead>
            <tbody>
                % for g_table_name in g_table_name_list:
                    <tr>
                        <!-- data -->
                        <td>
                            <a href="{{ url_list["show"] }}/{{ g_table_name.id }}">
                                {{! g_table_name.quick_preview() }}</a>
                        </td>
                        <!-- action -->
                        <td>
                            % if g_table_name.allow_edit:
                                <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ g_table_name.id }}">
                                    <i class="glyphicon glyphicon-pencil"></i> Edit
                                </a>
                            % end
                            % if G_Table_Name.allow_trash and not only_trashed:
                                <a class="btn btn-default" href="{{ url_list["trash"] }}/{{ g_table_name.id }}">
                                    <i class="glyphicon glyphicon-trash"></i> Move to Trash
                                </a>
                            % end
                            % if G_Table_Name.allow_delete:
                                <a class="btn btn-danger" href="{{ url_list["delete"] }}/{{ g_table_name.id }}">
                                    <i class="glyphicon glyphicon-remove-sign"></i> Delete
                                </a>
                            % end
                        </td>
                    </tr>
                % end
            </tbody>
        </table>
        <ul class="pagination">
        % for i in range(page_count):
            % page = str(i+1)
            <li class="{{ 'active' if str(current_page) == page else ''}}">
                <a href="{{ url_list['list'] + '?page=' + page + ('&' + serialized_get if serialized_get != '' else '') }}">{{ page }}</a>
            </li>
        % end
        </ul>
    % else:
        <div class="alert alert-danger">Data not found</div>
    % end
{% endblock %}