% rebase('g_application_name/views/base')
% g_table_name.generate_detail_view()

{% block style %}
    {{! g_table_name.generated_style }}
{% endblock %}

{% block script %}
    {{! g_table_name.generated_script }}
{% endblock %}

{% block content %}
    <h4>Showing {{ caption }} : {{ g_table_name.quick_preview() }}</h4>
   {{! g_table_name.generated_html }}
   <div>
        <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ g_table_name.id }}">
            <i class="glyphicon glyphicon-pencil"></i> Edit g_table_name
        </a>
        <a href="{{ url_list['list'] }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i> Back to List
        </a>
    </div>
{% endblock %}