% rebase('g_application_name/views/base') if base_view is None else rebase(base_view)

{% block content %}
    <h4>Update {{ caption }} : {{! g_table_name.quick_preview() if g_table_name is not None else 'None' }}</h4>
    <div class="alert {{ 'alert-success' if success else 'alert-danger' }}">
        % if error_message != '':
            <b>Error : </b>
            {{ error_message }}
        % else:
            <b>Success !!!</b>
        % end
    </div>
    <div>
        <a class="btn btn-default" href="{{ url_list["new"] }}">
            <i class="glyphicon glyphicon-plus"></i> Insert {{ caption }}
        </a>
        % if success:
            <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ g_table_name.id }}">
                <i class="glyphicon glyphicon-pencil"></i> Edit {{ caption }}
            </a>
        % end
        <a href="{{ url_list['list'] }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i> Back to List
        </a>
    </div>
{% endblock %}
