% rebase('cms/views/base')
% language_detail.generate_detail_view()

{% block style %}
    {{! language_detail.generated_style }}
{% endblock %}

{% block script %}
    {{! language_detail.generated_script }}
{% endblock %}

{% block content %}
    <h4>Showing {{ language_detail.quick_preview() }}</h4>
   {{! language_detail.generated_html }}
   <div>
        <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ language_detail.id }}">
            <i class="glyphicon glyphicon-pencil"></i> Edit language_detail
        </a>
        <a href="{{ url_list['list'] }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i> Back to List
        </a>
    </div>
{% endblock %}