% rebase('cms/views/base')
% user.generate_input_components()

{% block style %}
    {{! user.generated_style }}
{% endblock %}

{% block script %}
    {{! user.generated_script }}
{% endblock %}

{% block content %}
    <h4>New user</h4>
    <form action="{{ url_list['create'] }}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
        {{! user.generated_html }}
        <!-- Form Control -->
        <div class="form-group">
            <div class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-floppy-disk"></i> Save
                </button>
                <a href="{{ url_list['list'] }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-th"></i> Cancel and Go Back to List
                </a>
            </div>
        </div>
    </form>
{% endblock %}