% rebase('country/views/base')

{% block content %}
    <h4>Update city</h4>
    <div class="alert {{ 'alert-success' if success else 'alert-danger' }}">
        % if error_message != '':
            <b>Error : </b>
            {{ error_message }}
        % else:
            <b>Success !!!</b>
        % end
        <div>
            <a class="btn btn-default" href="{{ url_list["new"] }}">
                <i class="glyphicon glyphicon-plus"></i> Insert another city
            </a>
            % if success:
                <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ city.id }}">
                    <i class="glyphicon glyphicon-pencil"></i> Edit city again
                </a>
            % end
            <a href="{{ url_list['list'] }}" class="btn btn-default">
                <i class="glyphicon glyphicon-th"></i> Back to List
            </a>
        </div>
    </div>
{% endblock %}
