<style type="text/css">
    .language-python, .language-html{
        width:100%;
    }
    .ace_editor{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #layout-content h1{
        margin-top:60px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    #layout-content h2{
        margin-top:40px;
    }
    .affix{
        top:20px;
    }
    .bs-sidenav li.active>a, .bs-sidenav li.active:hover>a, .bs-sidenav li.active:focus>a {
        padding-left: 18px;
        font-weight: 700;
        color: #563d7c;
        background-color: transparent;
        border-right: 2px solid #563d7c;
    }
    .bs-sidenav ul{
        padding-left:10px;
        font-size:small;
    }

    /* toggle sub-child based on active status */
    .bs-sidenav li>ul{
        display:none;
    }
    .bs-sidenav li.active>ul{
        display:block;
    }

    /* adjust navbar size */
    @media (min-width: 1200px){
        div.affix {
            width: 263px;
        }
    }
    @media (min-width: 992px){
        div.affix {
            width: 213px;
        }
    }

</style>