% rebase('index/views/base.html', title='Getting Started')
{% block style %}
    <link rel="stylesheet" href="{{ BASE_URL }}assets/jquery-ui-bootstrap/assets/css/docs.css">
    <style type="text/css">
        .language-python, .language-html{
            width:100%;
        }
        .ace_editor{
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #layout-content h1{
            border-bottom: 1px solid #e5e5e5;
        }

        /* toggle sub-child based on active status */
        .bs-sidenav li>ul{
            display:none;
        }
        .bs-sidenav li.active>ul{
            display:block;
        }

        /* adjust navbar size */
        @media (min-width: 1200px){
            div.affix {
                width: 263px;
            }
        }
        @media (min-width: 992px){
            div.affix {
                width: 255px;
            }
        }

    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ BASE_URL }}assets/jquery-ace/ace/ace.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}assets/jquery-ace/ace/theme-twilight.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}assets/jquery-ace/ace/mode-python.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}assets/jquery-ace/ace/mode-html.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}assets/jquery-ace/jquery-ace.min.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}assets/autosize/jquery.autosize.min.js"></script>
    <script src="{{ BASE_URL }}assets/jquery-ui-bootstrap/assets/js/docs.js" type="text/javascript"></script>
    <script src="{{ BASE_URL }}assets/jquery-ui-bootstrap/assets/js/demo.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('textarea, pre').each(function(){
                var html = $(this).html();
                var lines = html.split('\n');
                var new_lines = Array();
                var spaces = '';
                for(var i=0; i<lines.length; i++){
                    // determine how many spaces would we need
                    if(lines[i][0] == ' ' && spaces == ''){
                        for(var j=0; j<lines[i].length; j++){
                            if(lines[i][j] == ' '){
                                spaces += ' ';
                            }else{
                                break;
                            }
                        }
                    }
                    if(spaces != ''){
                        var str = lines[i].replace(spaces, '');
                        var the_end = str.trim() == '';
                        for(var j=i+1; j<lines.length; j++){
                            if(lines[j].trim() != ''){
                                the_end = false;
                            }
                        }
                        if(the_end){
                            break;
                        }
                        new_lines[new_lines.length] = str;
                    }
                }
                html = new_lines.join('\n');
                $(this).html(html);
            });
            // make textarea autosize
            $('textarea').autosize();
            // change into ace
            $('.language-python').ace({
                theme: 'twilight',
                lang: 'python',
            });
            $('.language-html').ace({
                theme: 'twilight',
                lang: 'html',
            });
            // make them readOnly
            $('.language-python, .language-html').each(function(){
                $(this).data('ace').editor.ace.setReadOnly(true);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-3">
        <div class="bs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav bs-sidenav">
                <li><a href="#setting">Setting</a>
                    <ul class="nav">
                        <li><a href="#installation">Installation</a>
                            <ul class="nav">
                                <li><a href="#optional_steps">Optional Steps</a></li>
                                <li><a href="#mandatory_steps">Mandatory Steps</a></li>
                            </ul>
                        </li>
                        <li><a href="#kokoropy_directory_structure">Directory Structure</a></li>
                    </ul>
                </li>
                <li><a href="#rossian">Rossian</a></li>
                <li><a href="#coding">Coding</a>
                    <ul class="nav">
                        <li><a href="#simple_hello_world">Simple Hello World</a></li>
                        <li><a href="#mvc_and_automatic_routing">MVC &amp; Automatic Routing</a>
                            <ul class="nav">
                                <li><a href="#model">Model</a></li>
                                <li><a href="#controller">Controller</a></li>
                                <li><a href="#view">View</a></li>
                            </ul>
                        </li>
                        <li><a href="#manual_routing">Manual Routing</a></li>
                        <li><a href="#more">More ...</a>
                            <ul class="nav">
                                <li><a href="#request">Post, Get, Cookie, and Session</a></li>
                                <li><a href="#custom_hook_and_error">Custom Hook and Error</a></li>
                                <li><a href="#use_matplotlib">Use Matplotlib</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#deployment">Deployment</a>
                    <ul class="nav">
                        <li><a href="#apache">Apache</a></li>
                        <li><a href="#heroku">Heroku</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end bs-sidebar -->
    </div>
    <div class="col-md-9">
        <h1 id="setting">Setting</h1>
        <h2 id="installation">Installation</h2>

        <p>
            Kokoropy is a python web framework.
            Therefore you need to have python (recommended python 2.7) installed in your computer.
        </p>

        <p>
            Linux &amp; MacOS user does not need to worry anything since those OS have python pre-installed by default.
            Windows user should download and install python. Personally, I suggest you to use <a href="https://www.enthought.com/products/canopy/">Enthought Canopy Distribution</a>
            since it already has some libraries such as numpy &amp; matplotlib.<br />
            If you are using debian-based linux (such as ubuntu)
        </p>
        <h3 id="optional_steps">Optional steps</h3>
        <p>
            Kokoropy built with scientific purpose on mind. Some examples are depended on already famous libraries, such as numpy, scikit-learn, and matplotlib. To install those libraries, you can do:
        </p>
        <pre>
            pip install numpy
            pip install matplotlib
            pip install sklearn
        </pre>
        <p>
            If you are using python 3, you will need to install `python3-beaker` package
        </p>
        <pre>
            pip install beaker
        </pre>
        <h3 id="mandatory_steps">Mandatory steps</h3>
        <p>
            Download kokoropy from github repository <a href="https://github.com/goFrendiAsgard/kokoropy">here</a>, or clone it by using git
        </p>
        <pre>
            git clone git@github.com:goFrendiAsgard/kokoropy.git
        </pre>

        <p>
            After All prerequisites met, you can just start kokoropy by using this command:
        </p>
        <pre>
            cd path/to/kokoropy
            python rossian.py start
        </pre>

        <p>
            Now, open up your browser, and type
        </p>
        <pre>
            http://localhost:8080
        </pre>
        <p>
            in the address bar
        </p>

        <h2 id="kokoropy_directory_structure">Kokoropy's Directory Structure</h2>
        <p class="alert alert-info"><b>Don't worry</b> This is just informational, you don't have to do anything</p>
        <p>
            Just like every MVC framework, kokoropy has a typical directory structure.
            At the development stage, you only need to pay attention to <strong>/applications</strong> directory (this is where your applications laid)
        </p>
        <pre>
            kokoropy
                |--- /applications                THIS IS WHERE YOUR APPLICATIONS LAID
                |       |--- __init__.py          * application's bootstrap
                |       |
                |       |--- /example             * example application
                |       |       |--- __init__.py  * application's __init__.py
                |       |       |--- /assets      * application's static files
                |       |       |--- /models      * application's models
                |       |       |--- /controllers * application's controllers
                |       |       |--- /views       * application's views
                |       |       |--- routes.py    * application's routes
                |       |
                |       |--- /index               * index application
                |       |       |--- __init__.py  * application's __init__.py
                |       |       |--- /assets      * application's static files
                |       |       |--- /models      * application's models
                |       |       |--- /controllers * application's controllers
                |       |       |--- /views       * application's views
                |       |       |--- routes.py    * application's routes
                |       |
                |       |--- /[your_application]  * your application
                |       |       |--- __init__.py  * application's __init__.py
                |       |       |--- /assets      * application's static files
                |       |       |--- /models      * application's models
                |       |       |--- /controllers * application's controllers
                |       |       |--- /views       * application's views
                |       |       |--- routes.py    * application's routes
                |
                |--- /kokoropy                    THIS IS WHERE KOKOROPY'S CORE LAID
                |       |--- __init__.py          * __init__.py
                |       |--- /beaker              * beaker package
                |       |--- /sqlalchemy          * sqlalchemy package
                |       |--- /alembic             * alembic package
                |       |--- bottle.py            * bottle module
                |       |--- kokoro.py            * kokoropy's main program
                |
                |--- /db                          DATABASE EXAMPLE
                |
                |--- README.md                    DOCUMENTATION & TUTORIAL
                |
                |                                 DEVELOPMENT & DEBUGGING
                |--- rossian.py                   * script to manage kokoropy
                |
                |                                 HEROKU DEPLOYMENT FILES
                |--- heroku.sh                    * heroku command example
                |--- heroku_app.py                * bootstrapper for heroku
                |--- Procfile                     * heroku specific file
                |--- runtime.txt                  * heroku specific file
                |--- requirements.txt             * heroku specific file
        </pre>
        <p>
            In kokoropy, every application should contains <strong>__init__.py</strong> file.
        </p>
        <p>
            The same rule is also applied to application's <b>models</b> and <b>controllers</b> directory.
            You should also put an <b>__init__.py</b> inside each of them.
        </p>

        <h1 id="rossian">Rossian (Script generator and more)</h1>
        <p>
            Building everything from scratch is such a pain. Therefore, some frameworks provide generator scripts.
            FuelPHP has <code>oil</code>, Laravel has <code>artisan</code>, Django has <code>manage.py</code>,
            Ruby on Rails has <code>rails</code>.
        </p>
        <p>
            In kokoropy, we have <code>rossian.py</code>, a smart, cute, little script that help you do most of things better and faster.
            You can do:
        </p>
        <pre>
            python rossian.py
        </pre>
        <p>to see how it works.</p>
        <p>Currently, here is a list of commands that might be useful</p>
        <pre>
              VERSION: 0.0.1

              USAGE:

              * Help
                 python rossian.py help

              * Run Server
                 python rossian.py start [--host=localhost --port=8080 --server=kokoro --baseurl=/ --runtimepath=.runtime --debug --reload]

              * Scaffold Application
                 python rossian.py scaffold-application APPLICATION-NAME

              * Scaffold Migration
                 python rossian.py scaffold-migration APPLICATION-NAME MIGRATION-NAME [table-name] [column-name:type] ... 

              * Scaffold Model
                 python rossian.py scaffold-model APPLICATION-NAME [table-name] [column-name:type] ... 

              * Scaffold CRUD
                 python rossian.py scaffold-crud APPLICATION-NAME [table-name] [column-name:type] ... 

              * Scaffold View (to make custom CRUD view)
                 python rossian.py scaffold-view APPLICATION-NAME [table-name] [view]

              * Scaffold CMS
                 python rossian.py scaffold-cms 

              * Migration upgrade (to the newest version)
                 python rossian.py migration-upgrade [APPLICATION-NAME]

              * Migration downgrade (to the previous version)
                 python rossian.py migration-downgrade APPLICATION-NAME

              * List of migration applied
                 python rossian.py migration-log

        </pre>
        <p>
            <b>Trivia: </b> <code>rossian.py</code> was named after my smart and cute ex-girlfriend, Rossian Vinatha.
            She was always encourage and help me to do many new things (including ride a motorbike) better.
            We were in relationship since 2013-12-09, and we've just broke up at 2014-08-04. That was unfortunate.
            I still hope her to get back, but more of it, I hope her to find her happiness.
        </p>

        <h1 id="coding">Coding</h1>

        <h2 id="simple_hello_world">Simple Hello world</h2>
        <p>Okay, let's try your first hello world program</p>
        <p>First, do:</p>
        <pre>
            python rossian.py scaffolding-application demo
        </pre>
        <p>This will make <code>demo</code> directory inside your <code>applications</code></p>
        <pre>
            kokoropy
                |--- /applications
                |       |--- __init__.py
                |       |
                |       |--- /demo                * (1. Make demo directory)
                |       |       |--- __init__.py  * (2. Make __init__.py)
                |       |       |--- routes.py    * (3. Make routes.py)
              (...)   (...)
        </pre>
        <p>
            Now, edit your routes.py and put this:
        </p>
        <textarea class="language-python" readonly="readonly">
            from kokoropy import base_url

            def say_something(name = ''):
                if name == '':
                    return '<h1>Hello</h1><p>How do you do?</p>'
                else:
                    return '<h1>Hello ' + name + '</h1><p>How are you?</p>'

            urls = (
                (base_url('hello'), say_something),
                (base_url('hello/&lt;name&gt;'), say_something),
                ('hello', say_something),
                ('hello/&lt;name&gt;', say_something)
            )
        </textarea>
        <p>We hope the code is already self-explanatory, but if you still need some explanation, here is:</p>
        <ul>
            <li>
                <b>Line 1 :</b> Import <b>route</b> decorator and <b>base_url</b> function which will be used later.<br />
                base_url is used to get absolute url. For example <b>base_url('hello')</b> will return <b>http://localhost:8080/kokoropy/hello</b>
            </li>
            <li>
                <b>Line 3 - 7 :</b> Declare <b>say_something</b> function. This function return string, depends on <b>name</b> parameter.<br />
                If name is empty, the function will return a warm <i>How do you do</i> message, otherwise, it will return a welcome <i>How are you</i> message, along with the name
            </li>
            <li>
                <b>Line 9 - 14 :</b> Declare <b>urls</b> tupple. The tupple contains several elements. Each element contains of a pair or url and function associated with the url<br />
            </li>
        </ul>
        <p>
            <b>Important :</b> The tupple should be named <b>urls</b>. This tupple is used to wrap bottle route decorator.
            To get more comprehensive documentation about <b>route</b> decorator, please visit <a target="blank" href="http://bottlepy.org/docs/dev/tutorial.html#request-routing">Bottle's documentation about request routing</a>
        </p>

        <h2 id="mvc_and_automatic_routing">MVC and Automatic Routing</h2>
        <p>
            You might need something more complex than just a typical "hello world" program.<br />
            It's not good to put everything in <b>routes.py</b>, since it will be to complicated to be maintained.<br />
            Here is where MVC rocks. MVC stands for <b>M</b>odel, <b>V</b>iew, <b>C</b>ontroller.<br />
        </p>
        <ul>
            <li><b>Model</b> is the heart of your application. It define what an application can do. Imagine it as a bunch of functions which are ready to be used anytime.
            Model is usually, but not neccesaryly associated to database. People tend to write their database scripts (either using ORM or raw SQL) in model.
            </li>
            <li><b>Controller</b> is a gateway of your application. It define how user can interact with your application. A request from client wil be delivered to your controller.
            The controller then do some action, and call some routines defined in the model. And as visual feedback, controller will load a view and return it as response.
            </li>
            <li><b>View (or Template)</b> is a visual matter. You should put your HTML, javascript, and css here.</li>
        </ul>
        <p>
            Let's make your first MVC in kokoropy. At the end of this section, you will be able to access these url:
        </p>
        <ul>
            <li><b>http://localhost:8080/kokoropy/demo/pokemon</b> and get all pokemon</li>
            <li><b>http://localhost:8080/kokoropy/demo/pokemon/pi</b> and get pokemon which it's name contains 'pi'</li>
        </ul>
        <pre>
            kokoropy
                |--- /applications
                |       |--- __init__.py
                |       |
                |       |--- /demo                              * ( 1. Make demo directory)
                |       |       |--- __init__.py                * ( 2. Make __init__.py)
                |       |       |--- routes.py                  * ( 3. Make routes.py)
                |       |       |--- /models                    * ( 4. Make models directory)
                |       |       |       |--- __init__.py        * ( 5. Make __init__.py)
                |       |       |       |--- my_model.py        * ( 6. Make my_model.py)
                |       |       |--- /controllers               * ( 7. Make controllers directory)
                |       |       |       |--- __init__.py        * ( 8. Make __init__.py)
                |       |       |       |--- my_controller.py   * ( 9. Make my_controller.py)
                |       |       |--- /views                     * (10. Make views directory)
                |       |       |       |--- my_view.tpl        * (11. Make my_view.py)
                |       |       |--- /assets                    * (10. Make assets directory)
                |       |       |       |--- uploads            * (11. Make uploads directory)
              (...)   (...)
        </pre>
        <h3 id="model">Model</h3>
        <p>
            Put this in <b>my_model.py</b>:
        </p>
        <textarea class="language-python" readonly="readonly">
            from sqlalchemy import create_engine, Column, ForeignKey, func, Integer, String, DateTime, Boolean
            from sqlalchemy.orm import scoped_session, sessionmaker, relationship, backref
            from kokoropy.model import DB_Model
            from ..configs.db import connection_string

            engine = create_engine(connection_string, echo=False)
            session = scoped_session(sessionmaker(bind=engine))

            class Pokemon(DB_Model):
                __tablename__ = 'pokemon'
                __session__ = session
                name = Column(String)
                image = Column(String)

            Model.metadata.create_all(bind=Pokemon().engine)
        </textarea>
        <p>
            Since we are using SQLALchemy's ORM and a custom Model code, there are many things you don't need to write by yourself.<br />
            If you don't like (or not ready to use) ORM, you can also use classical SQL approach. SQL Alchemy supporting both ORM &amp; classical SQL approach. Please check <a target="blank" href="http://docs.sqlalchemy.org/">SQL Alchemy documentation</a> for more information.
            Now, here is some explanation of the code:
        </p>
        <ul>
            <li>
                <b>Line 1 - 2 :</b> Import some SQL-Alchemy's functions and classes.
            </li>
            <li>
                <b>Line 3 :</b> Import kokoropy's Model base.
            </li>
            <li>
                <b>Line 4 :</b> Import <code>connection_string</code> from configuration.
            </li>
            <li>
                <b>Line 6 - 7 :</b> Make engine and session
            </li>
            <li>
                <b>Line 9 - 13 :</b> Pokemon Class, inherited from <code>Base</code> and <code>Mixin</code>.
                 It has 2 properties mapped to column, name and image.
            </li>
            <li>
                <b>Line 15 :</b> Make the real table for the first time, otherwise you should use migration.
            </li>
        </ul>

        <h3 id="controller">Controller</h3>
        <p>
            Put this in <b>my_controller.py</b>:
        </p>
        <textarea class="language-python" readonly="readonly">
            from kokoropy import Autoroute_Controller, load_view
            from ..models.my_model import Pokemon

            class My_Controller(Autoroute_Controller):
                def action_pokemon(self, keyword=None):
                    # get pokemons
                    pokemon_list = Pokemon.get()
                    return load_view('demo', 'my_view', pokemon_list = pokemon_list)
        </textarea>
        <p>Here is the explanation</p>
        <ul>
            <li>
                <b>Line 1 - 2 : </b> Import things we will need later, including <b>Pokemon</b> model.
            </li>
            <li>
                <b>Line 4 - 8 : </b> Make an autoruted controller. Every autorouted controller should extend <b>Autoroute_Controller</b>.
            </li>
            <li>
                <b>Line 6 - 8 : </b> Get <b>pokemon_list</b>, pass it to <b>my_view</b> view, and give the response whenever user accessing <b>http://localhost:8080/kokoropy/my_controller/pokemon</b>.
            </li>
        </ul>
        <p>
            Every function in autorouted controller with <b>action_</b>, prefix will be published, and accessible with this url format:
        </p>
        <pre>
            BASE_URL/application_name/controller_name/function_without_prefix
        </pre>
        <p>
            You can also use <b>post_</b>, <b>get_</b>, <b>put_</b>, and <b>delete_</b> prefix. These prefixes are work with REST request.
        </p>
        <p class="alert alert-warning">
            <b>Beware :</b> Autoroute controller might looks to be fun, and it is recommended when you are on development stage. Also, it will feels familiar, if you came from CodeIgniter. However, for real-world usage, we suggest to use manual routing via <i>routes.py</i>.
            Manual routing allow you to change the url freely without touching your controller logic (and code) at all.
        </p>

        <h3 id="view">View</h3>
        <p>
            Put this in <b>my_view.tpl</b>:
        </p>
        <textarea class="language-html" readonly="readonly">
            <h3>Pokemon List</h3>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Pokemon Name</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    &#37; for pokemon in pokemons:
                    <tr>
                        <td>&#123;&#123; pokemon.name &#125;&#125;</td>
                        <td>
                            {&#37; if pokemon.image == '' &#37;}
                                No image available
                            {&#37; else &#37;}
                                <img src="&#123;&#123; BASE_URL &#125;&#125;demo/assets/uploads/&#123;&#123; pokemon.image &#125;&#125;" style="height:65px;" />
                            {&#37; endif &#37;}
                        </td>
                    </tr>
                    &#37; end
                </tbody>
            </table>
            &#37; rebase('index/views/base')
        </textarea>
        <p>
           Here we get our <b>pokemon_list</b> from the controller, and present it to our visitor in table.
           In kokoropy, <a target="blank" href="http://bottlepy.org/docs/dev/stpl.html">Simple Template Engine</a> is used to render the view.
        </p>
        <ul>
            <li><b>Line 10 - 21 :</b> Show Pokemon list.<br />
                Kokoropy use enchanced Simple Template Engine. To get more information about Template Engine, please visit <a target="blank" href="http://bottlepy.org/docs/dev/stpl.html">http://bottlepy.org/docs/dev/stpl.html</a>.<br />
                Here is a brief example to see what you can do with simple template engine:
                <pre>
                    &#37; name = "Bob"  # a line of python code
                    &lt;p&gt;Some plain text in between&lt;/p&gt;
                    &lt;&#37;
                      # A block of python code
                      name = name.title().strip()
                    &#37;&gt;
                    &lt;p&gt;More plain text&lt;/p&gt;
                </pre>
            </li>
            <li><b>Line 24 :</b> Call <code>rebase</code> function to set <b>index/views/base</b> as parent template</li>
        </ul>
        <p>
            Aside from simple template engine behavior, kokoropy also provide block by using <code>{&#37; block block_name &#37;}</code> and <code>{&#37; endblock &#37;}</code> (similar to jinja2).<br />
            The blocks also support inheritance, so that you can use <code>{&#37; parent &#37;}</code> inside your child block.
        </p>
        <p class="alert alert-info">
            Since the database is empty, you won't be able to see anything. when running this demo.<br />
            In this case, open up <b>db/demo.db</b>, add some data, put some images on <b>applications/demo/assets/uploads</b>.
        </p>

        <h2 id="manual_routing">Manual Routing</h2>
        <p>
            As we say, put autoroute controller is great for development, however sometime you need more "expressive" routing. Here is where you need manual routing.
            To enable manual routing, first open up your previously created controller, and remove this part:
        </p>
        <pre>
            class My_Controller(Autoroute_Controller):
        </pre>
        <p>with this:</p>
        <pre>
            class My_Controller(obj):
        </pre>
        <p>and put this in your routes.py</p>
        <textarea class="language-python" readonly="readonly">
            # create instance of My_Controller
            from ..controllers.my_controller import My_Controller
            my_controller = My_Controller()
            # define routes
            urls = (
               (base_url('pokemon_list/&lt;keyword&gt;'), my_controller.action_pokemon),
               (base_url('pokemon_list'), my_controller.action_pokemon),
               (base_url('p/&lt;keyword&gt;'), my_controller.action_pokemon),
               (base_url('p'), my_controller.action_pokemon)
            )
        </textarea>
        <ul>
            <li>
                <b>Line 2 - 3 :</b> import My_Controller and make an instance of it
            </li>
            <li>
                <b>Line 5 - 10 :</b> define several request routing that should be handled by my_controller.action_pokemon
            </li>
        </ul>
        <h2 id="more">More ...</h2>
        <h3 id="request">Post, Get, Cookie, and Session</h3>
        <textarea class="language-python">
            from kokoropy import template, request, response, Autoroute_Controller

            class Default_Controller(Autoroute_Controller):

                # POST example
                def action_post(self):
                    if 'name' in request.POST:
                        return request.POST['name']

                # GET example
                def action_get(self):
                    if 'name' in request.GET:
                        return request.GET['name']

                # SESSION example
                def action_session(self):
                    if 'name' in request.SESSION:
                        return reqeust.SESSION['name']

                # COOKIE example
                def action_cookie(self):
                    # Set cookie value
                    # Cookie name : address
                    # Cookie value : Mars
                    # Cookie secret (for encryption) : poweroverwhelming
                    response.set_cookie('address', 'Mars', 'poweroverwhelming')
                    # Get cookie
                    # Cookie name : address
                    # Default value (if cookie is not defined): default_address
                    # Cookie secret (for decryption) : poweroverwhelming
                    return request.get_cookie('address', 'default_address', 'poweroverwhelming')

                # UPLOAD example
                def upload_image(self):
                    upload =  request.files.get('image')
                    ext = os.path.splitext(upload.filename)[-1]
                    uploaded_image = 'no image'
                    if ext in ('.png','.jpg','.jpeg'):
                        if save_uploaded_asset('image', path='uploads', application_name='example'):
                            uploaded_image = '<img src="example/assets/uploads/"'+ upload.filename + '/>'
                    return uploaded_image
        </textarea>
        <h3 id="custom_hook_and_error">Custom Hook and Error</h3>
        <p>
            Sometime people want to define their own hook and error message. Do this is very easy, as easy as define manual routing.
        </p>
        <textarea class="language-python" readonly="readonly">
            def before_request():
                print 'Start of request'

            def after_request():
                print 'End of request'

            def error_404(error):
                return 'No such a page yet, hire me !!!'

            def error_403(error):
                return 'Inaccessible page...'

            def error_500(error):
                return 'Our server blown up,... please contact us by phone'

            hooks = (
               ('before_request', before_request),
               ('after_request', after_request)
            )

            errors = (
               ('404', error_404),
               ('403', error_403),
               ('500', error_500)
            )
        </textarea>
        <ul>
            <li>
                <b>Line 1 - 14 :</b> Define several functions for hook and error
            </li>
            <li>
                <b>Line 16 - 25 :</b> Define <b>hooks</b> and <b>erros</b> tupples. These tupples are used to define hook and error message redirection
            </li>
        </ul>
        <h3 id="use_matplotlib">Use matplotlib</h3>
        <textarea class="language-python" readonly="readonly">
            from kokoropy import draw_matplotlib_figure, Autoroute_Controller

            class My_Controller(Autoroute_Controller):
                '''
                Plotting example
                '''

                def action_plot(self):
                    max_range = 6.28
                    # import things
                    import numpy as np
                    import matplotlib.pyplot as plt
                    # determine x, sin(x) and cos(x)
                    x = np.arange(0, max_range, 0.1)
                    y1 = np.sin(x)
                    y2 = np.cos(x)
                    # make figure
                    fig = plt.figure()
                    fig.subplots_adjust(hspace = 0.5, wspace = 0.5)
                    fig.suptitle('The legendary sine and cosine curves')
                    # first subplot
                    ax = fig.add_subplot(2, 1, 1)
                    ax.plot(x, y1, 'b')
                    ax.plot(x, y1, 'ro')
                    ax.set_title ('y = sin(x)')
                    ax.set_xlabel('x')
                    ax.set_ylabel('y')
                    # second subplot
                    ax = fig.add_subplot(2, 1, 2)
                    ax.plot(x, y2, 'b')
                    ax.plot(x, y2, 'ro')
                    ax.set_title ('y = cos(x)')
                    ax.set_xlabel('x')
                    ax.set_ylabel('y')
                    # make canvas
                    return draw_matplotlib_figure(fig)
        </textarea>
        <h1 id="deployment">Deployment</h1>
        <h2 id="apache">Apache</h2>
        <p>
            This is how to deploy kokoropy on apache web server (assuming you use ubuntu or debian):
        </p>
        <ul>
            <li>
                Install mod-wsgi: <code>sudo apt-get install libapache2-mod-wsgi</code>.
            </li>
            <li>
                Enable mod-wsgi: <code>sudo a2enmod wsgi</code>.
            </li>
            <li>
                Create wsgi script <code>/path/to/kokoropy/kokoro.wsgi</code>.
                <textarea class="language-python" readonly="readonly">
                    import os, sys
                    import kokoropy

                    PWD = './'
                    if os.path.dirname(__file__) == '':
                        PWD = os.path.abspath(os.getcwd())
                    else:
                        PWD = os.path.dirname(os.path.abspath(__file__))
                    os.chdir(PWD)
                    if PWD not in sys.path:
                        sys.path.append(PWD)

                    APP_DIRECTORY = 'applications'
                    APPLICATION_PATH = os.path.join(PWD, APP_DIRECTORY)
                    application = kokoropy.kokoro_init(application_path = APPLICATION_PATH, run = False,
                        runtime_path = '.apache_runtime/', base_url = '/')
                </textarea>
            </li>
            <li>
                Create apache configuration file <code>/etc/apache2/sites-available/kokoro.apache_conf</code>
                (For other OS, please append this file contents to <code>httpd.conf</code>)<br /><br />
                <pre>
                    &lt;VirtualHost *&gt;
                        # replace this with your absolute path to kokoropy
                        DocumentRoot /absolute/path/to/kokoropy
                        # server name, usually localhost, but you can also use another alias if DNS set correctly
                        ServerName localhost

                        WSGIDaemonProcess kokoropy user=www-data group=www-data processes=1 threads=5
                        # replace this with your absolute path to kokoropy + kokoro.wsgi location
                        WSGIScriptAlias / /absolute/path/to/kokoropy/kokoro.wsgi
                        # absolute path to kokoropy
                        &lt;Directory /absolute/path/to/kokoropy&gt;
                            WSGIProcessGroup kokoropy
                            WSGIApplicationGroup %{GLOBAL}
                            Options ExecCGI
                            Order deny,allow
                            Allow from all
                        &lt;/Directory&gt;

                    &lt;/VirtualHost&gt;
                </pre>
                Adjust some values as follows:
                <ul>
                    <li>
                        Replace every <code>/absolute/path/to/kokoropy</code> with your kokoropy directory location.
                    </li>
                    <li>
                        In case of you already have php installed, please don't use localhost as ServerName. Use another valid ServerName instead.
                    </li>
                    <li>
                        You can add valid ServerName by add a line at <code>/etc/hosts</code> (e.g: <code>127.0.1.1</code> arcaneSanctum will add arcaneSanctum as valid ServerName).
                    </li>
                    <li>
                        Note, that by default apache will greedily take over every request and left nothing to be handled by your application. If you are using ubuntu/debian, modify /etc/apache2/sites-enabled/000-default. <br />
                        Change this part <code>&lt;VirtualHost *:80&gt;</code> into <code>&lt;VirtualHost localhost:80&gt;</code>
                    </li>
                </ul>
            </li>
            <li>
                Enable this configuration by doing: <code>sudo a2ensite kokoro.apache_conf</code>.
            </li>
            <li>
                Reload your apache by using <code>sudo service apache2 reload</code>. If it does not work, restart your apache by using <code>sudo service apache2 restart</code>.
            </li>
        </ul>
        <h2 id="heroku">Heroku</h2>
        <p>
            This is how to deploy kokoropy on heroku (assuming you use ubuntu):
        </p>
        <ul>
            <li>
                Make heroku account, and visit <a target="blank" href="https://devcenter.heroku.com/articles/python">https://devcenter.heroku.com/articles/python</a> for more detail instruction
            </li>
            <li>
                get and install heroku toolbelt by using this command: <code>wget -qO- https://toolbelt.heroku.com/install-ubuntu.sh | sh</code>. For other OS, please visit the heroku website for more information.
            </li>
            <li>
                init a git repo by using this command: <code>git init</code>
            </li>
            <li>
                Add several files in your kokoropy directory:
                <ul>
                    <li>
                        <b>runtime.txt</b><br />
                        <pre>
                            python-2.7.4
                        </pre>
                    </li>
                    <li>
                        <b>requirements.txt</b><br />
                        <pre>
                            argparse==1.2.1
                            distribute==0.6.24
                            gunicorn==17.5
                            wsgiref==0.1.2
                            numpy==1.7.0
                            matplotlib==1.1.0
                            scipy==0.11.0
                        </pre>
                    </li>
                    <li>
                        <b>Procfile</b><br />
                        <pre>
                            web: python heroku_app.py
                        </pre>
                    </li>
                    <li>
                        <b>heroku_app.py</b><br />
                        <textarea class="language-python" readonly="readonly">
                            import os, sys
                            import kokoropy

                            PWD = './'
                            if os.path.dirname(__file__) == '':
                                PWD = os.path.abspath(os.getcwd())
                            else:
                                PWD = os.path.dirname(os.path.abspath(__file__))
                            os.chdir(PWD)
                            if PWD not in sys.path:
                                sys.path.append(PWD)

                            APP_DIRECTORY = 'applications'
                            APPLICATION_PATH = os.path.join(PWD, APP_DIRECTORY)
                            application = kokoropy.kokoro_init(application_path = APPLICATION_PATH, run = False,
                                runtime_path = '.heroku_runtime/', base_url = '/')

                            if __name__ == '__main__':
                                print "=== Run the server ==="
                                processor_count = 1
                                try:
                                    import multiprocessing
                                    processor_count = multiprocessing.cpu_count()
                                except (ImportError,NotImplementedError):
                                    processor_count = 1
                                kokoropy.run(app=application, server='gunicorn', host = '0.0.0.0',
                                    port = os.environ.get('PORT', 5000), workers = processor_count*2+1)
                        </textarea>
                    </li>
                </ul>
            </li>
            <li>
                login to heroku (make sure you already have an account on heroku.com) by using this command: <code>heroku login</code>
            </li>
            <li>
                Set up heroku with a special buildpack (needed for matplotlib demo) by using this command: <code>heroku create --buildpack https://github.com/dbrgn/heroku-buildpack-python-sklearn/</code>
            </li>
            <li>
                If you do not need matplotlib at all, just do <code>heroku create</code>
            </li>
            <li>
                If you have already do <code>heroku create</code> but change your mind later, and think that you need matplotlib, do this: <code>heroku config:set BUILDPACK_URL=https://github.com/dbrgn/heroku-buildpack-python-sklearn/</code>
            </li>
            <li>
                make <code>heroku_app.py</code> executable by using this command chmod a+x heroku_app.py
            </li>
            <li>
                detect all changes and deploy by using commit &amp; push
                <pre>
                    git add . -A
                    git commit -m "Initial commit for heroku deployment"
                    git push heroku master
                </pre>
            </li>
        </ul>
    </div>
{% endblock %}
