<script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/jquery-ace/ace/ace.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/jquery-ace/ace/theme-twilight.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/jquery-ace/ace/mode-python.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/jquery-ace/ace/mode-html.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/jquery-ace/jquery-ace.min.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/autosize/jquery.autosize.min.js"></script>
<script type="text/javascript">
    ! function ($) {
        $(function () {
            var $window = $(window);
            var $body = $(document.body);
            var $sideBar = $('.bs-sidebar');
            var navHeight = $('.navbar').outerHeight(true) + 10;

            $body.scrollspy({
                target: '.bs-sidebar',
                offset: navHeight
            });

            $('.bs-docs-container [href=#]').click(function (e) {
                e.preventDefault();
            });

            $window.on('resize', function () {
                $body.scrollspy('refresh');
                // We were resized. Check the position of the nav box
                $sideBar.affix('checkPosition');
            });

            $window.on('load', function () {
                $body.scrollspy('refresh');
                $('.bs-top').affix();
                $sideBar.affix({
                    offset: {
                        top: function () {
                            var offsetTop = $sideBar.offset().top;
                            var sideBarMargin = parseInt($sideBar.children(0).css('margin-top'), 10);
                            var navOuterHeight = $('.bs-docs-nav').height();

                            // We can cache the height of the header (hence the this.top=)
                            // This function will never be called again.
                            return (this.top = offsetTop - navOuterHeight - sideBarMargin);
                        },
                        bottom: function () {
                            // We can't cache the height of the footer, since it could change
                            // when the window is resized. This function will be called every
                            // time the window is scrolled or resized
                            return $('.bs-footer').outerHeight(true);
                        }
                    }
                });
                setTimeout(function () {
                    // Check the position of the nav box ASAP
                    $sideBar.affix('checkPosition');
                }, 10);
                setTimeout(function () {
                    // Check it again after a while (required for IE)
                    $sideBar.affix('checkPosition');
                }, 100);
            });

            // tooltip demo
            $('.tooltip-demo').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            });

            $('.tooltip-test').tooltip();
            $('.popover-test').popover();

            $('.bs-docs-navbar').tooltip({
                selector: "a[data-toggle=tooltip]",
                container: ".bs-docs-navbar .nav"
            });
        });
    }(window.jQuery);

    $(document).ready(function(){
        $('textarea, pre').each(function(){
            var html = $(this).html();
            var lines = html.split('\n');
            var new_lines = Array();
            var spaces = '';
            for(var i=0; i<lines.length; i++){
                // determine how many spaces would we need
                if(lines[i][0] == ' ' && spaces == ''){
                    for(var j=0; j<lines[i].length; j++){
                        if(lines[i][j] == ' '){
                            spaces += ' ';
                        }else{
                            break;
                        }
                    }
                }
                if(spaces != ''){
                    var str = lines[i].replace(spaces, '');
                    var the_end = str.trim() == '';
                    for(var j=i+1; j<lines.length; j++){
                        if(lines[j].trim() != ''){
                            the_end = false;
                        }
                    }
                    if(the_end){
                        break;
                    }
                    new_lines[new_lines.length] = str;
                }
            }
            html = new_lines.join('\n');
            $(this).html(html);
        });
        // make textarea autosize
        $('textarea').autosize();
        // change into ace
        $('.language-python').ace({
            theme: 'twilight',
            lang: 'python',
        });
        $('.language-html').ace({
            theme: 'twilight',
            lang: 'html',
        });
        // make them readOnly
        $('.language-python, .language-html').each(function(){
            $(this).data('ace').editor.ace.setReadOnly(true);
        });
    });
</script>