%rebase('index/views/base.html', title='start')
<h1>Welcome to kokoropy</h1>
<p class="lead">
    Kokoropy is a Python web framework that let you make web-application easily and freely
</p>
<p>
    Kokoropy is built with "educational" purpose in mind. This allow you to present your scientific <a target="blank" href="{{ BASE_URL }}example/plotting" >matplotlib figure</a> as easy as never before.
</p>
<p>
    To know more about kokoropy, please visit our <a target="blank" href="{{ BASE_URL }}getting_started">getting started</a>
    and <a target="blank" href="{{ BASE_URL }}example">example</a> section.
</p>
<p>
    Kokoropy is also available in <a href="https://github.com/goFrendiAsgard/kokoropy" target="blank">github</a>. So that you can download and use it freely
</p>