<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{BASE_URL}}index/assets/favicon.ico" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ get('_description', 'A web page') }}">
        <meta name="author" content="{{ get('_author', 'You') }}">
        {{ !JQUI_BOOTSTRAP_STYLE }}
        <title>{{ get('_title', 'Your Application') }}</title>
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="container" role="main">
            <div class="header">
                <h1>Your Application Title</h1>
            </div>
            <!-- content -->
            <div  id="layout-content">
                {{ !base }}
                {% block content %}No content{% endblock %}
            </div>

            <!-- footer -->
            <div class="footer">
              <p>&copy; Yourself</p>
            </div>
        </div>
        {{ !JQUI_BOOTSTRAP_SCRIPT }}
        {% block script %}{% endblock %}
    </body>
</html>