<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{BASE_URL}}index/assets/favicon.ico" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">
        <title>{% block title %}Kokoropy{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ BASE_URL }}index/assets/static_libraries/bootstrap/css/bootstrap.min.css" />
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% block content_header %}
            <h1>Header</h1>
        {% endblock %}
        {% block content %}
            Content
        {% endblock %}
        <script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/jquery.min.js"></script>
        <script type="text/javascript" src="{{ BASE_URL }}index/assets/static_libraries/bootstrap/js/bootstrap.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>