% rebase('cms/views/base')
% page.generate_detail_view()

{% block style %}
    {{! page.generated_style }}
{% endblock %}

{% block script %}
    {{! page.generated_script }}
{% endblock %}

{% block content %}
    <h4>Showing {{ page.quick_preview() }}</h4>
   {{! page.generated_html }}
   <div>
        <a class="btn btn-default" href="{{ url_list["edit"] }}/{{ page.id }}">
            <i class="glyphicon glyphicon-pencil"></i> Edit page
        </a>
        <a href="{{ url_list['list'] }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i> Back to List
        </a>
    </div>
{% endblock %}